/* style.css */
body, html {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("/img/index.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo img {
    height: 100px;
    width: auto; /* Meresponsif lebar sesuai ketinggian */
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px; /* Jarak antara tombol dan bawah halaman */
}
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color:orangered;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkorange;
}